#font-style {
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    text-decoration: solid;
    text-align: center;
    padding-top: 150px;
    color: white;

}

h2 {
    text-align: center;
    font-size: 30px;
    color: white;

}

.first-container {
    background-image: url(images/donation13.jpg);
    background-color: #cccccc;
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    /*  position: relative;
    align-items: center;
       background-position: center;
           height: 680px;
    width: 100%;
        */

}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 11, 11), tomato);
    padding: 20px 40px;
    color: aliceblue;
    font-weight: 900;
    border-radius: 50px;
    position: absolute;
    top: 85%;
    left: 45%;
    font-size: 25px;


}

button {

    width: 10%;
    height: 45%;

}

.second-container {
    background-color: white;
    height: 600px;
    width: 100%;
}

h1 {
    font-size: 70px;
    text-decoration: solid;
    text-align: center;
    padding-top: 50px;
    color: rgb(20, 19, 19);
}


.flexible-container {
    display: flex;
    margin-bottom: 150px;

}

.half-width {
    width: 50%;
    padding-left: 5%;

}


.half-width img {
    width: 100%;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(247, 17, 17), rgb(235, 43, 9));
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
}

footer p {
    text-align: center;
    font-size: 30px;
    background-color: rgb(77, 74, 74);

}